<div *ngIf="selectedHero">
  <legend>Chosen hero section</legend>
<h2>
  "{{selectedHero.name}}" Details
</h2>
<div>
  <span>id: </span>{{selectedHero.id}}
</div>
<div>
  <label for="hero-name">Hero name: </label>
  <!--This is what we called banana in the box (two way binding)-->
  <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="the chosen hero">
</div>
</div>
<h2>
  My Heroes
</h2>
<ul class="heroes">
  <li *ngFor="let hr of heroes">
    <button type="button" [class.selected]="hr === selectedHero" (click)="onSelect(hr)">
      <span class="badge">{{hr.id}}</span> {{hr.name}}
    </button>
  </li>
</ul>
